<!DOCTYPE html>
<html>
    <head>
        <title>Loading...</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="css/pim.css"/>

        <script type="text/javascript" src="bundles/ororequirejs/lib/require.js"></script>
        <script type="text/javascript" src="js/require-config.js"></script>
        <script type="text/javascript" src="bundles/pimenrich/js/index.js"></script>
    </head>
    <body>
        <div id="page" class="AknDefault-page">
            <div id="top-page" class="AknDefault-topPage">
                <script>
                    require(
                        ['jquery', 'pim/form-builder'],
                        function($, FormBuilder) {
                            FormBuilder.build('pim-header')
                                .then(function (form) {
                                    $('#page').prepend(form.render().$el);
                                });
                        }
                    );
                </script>
                <div id="main">
                    <div class="AknBreadcrumbContainer">
                        <div id="flash-messages" class="AknBreadcrumbContainer-flashContainer ">
                            <div class="flash-messages-holder AknBreadcrumbContainer-flashList"></div>
                            <script type="text/template" id="message-item-template">
                                <div class="AknFlash alert <% if (type) {  %><%= 'alert-' + type + ' AknFlash--' + type %><% } %> fade in top-messages">
                                    <button type="button" class="AknFlash-closeButton close" data-dismiss="alert">&times;</button>
                                    <div class="message"><%- message %></div>
                                </div>
                            </script>
                        </div>
                    </div>
                    <div class="hash-loading-mask"></div>
                    <div id="container" class="scrollable-container">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
